
@{
    ViewBag.Title = "CONTACT";
}

<h2>CONTACT</h2>

<div class="container">
    <div class="row">
        <div class="col-md-12 one-column-text">
            <h2>¡Contáctenos! Queremos Saber de Ud.</h2>
            <h3>Estamos del otro lado del teléfono y de la pantalla para resolver sus dudas y consultas o simplemente para recibir sus sugerencias y comentarios</h3>
        </div>
    </div>

    <iframe src="https://www.google.com/maps/embed?pb=!1m5!3m3!1m2!1s0x9662cf1846549c4d%3A0x72a9d5b05cc5ded6!2sAm%C3%A9rico+Vespucio+Sur+107%2C+Las+Condes%2C+Regi%C3%B3n+Metropolitana!5e0!3m2!1ses-419!2scl!4v1388412285664&wmode=transparent" width="960" height="350" frameborder="0" style="border:2px solid #39aecf" wmode="Opaque"></iframe>

    <div class="row contact-info">
        <div class="col-md-8">
            <h3>Pongámonos en Contacto</h3>
            <p>En LegalProm dejamos a su disposición la mejor inteligencia legal online 24/7 y estaremos respondiendo sus preguntas todos los días hábiles hasta las 18:00 horas.</p>
            <div class="row">
                <div class="col-md-4">
                    <span>Teléfono</span>
                    <p>Chile: +56 2 23727133</p>
                </div>
                <div class="col-md-4">
                    <span>Email</span>
                    <p>notificaciones@legalprom.com</p>
                </div>
                <div class="col-md-4">
                    <span>Redes Sociales</span>
                    <p>Facebook: <a href="https://www.facebook.com/legalprom">/legalprom</a></p>
                    <p>Twitter: <a href="https://twitter.com/LegalProm">LegalProm</a></p>
                </div>
            </div>
            <hr>
            <h3>Envíenos un mensaje</h3>
            <img src="http://placehold.it/640x300">

        </div>
        <div class="col-md-4">
            <h3>Síganos en Facebook</h3>
            <img src="http://placehold.it/300x300">
            <h3>Nuestras Oficinas</h3>
            <p>Av. Américo Vespucio Sur 107 Of. 202<br>Las Condes – Santiago – Chile</p>
            <p>Nueva Las Condes Business Park<br>Torre Neruda<br>Rosario Norte 555 Of. 1.602<br>Las Condes – Santiago – Chile</p>
        </div>
    </div>

</div>