@model RedSocialMinijuegos.Models.Usuario

@{
    ViewBag.Title = "MiPerfil";
}

<h2> Perfil</h2>
<table class="table table-bordered">

    <tr>
        <th colspan="2">
            @Model.Usuario1
        </th>

    </tr>

    <tr>
        @*<th><img src="~/imagenes/CARTELES/@Model.UltimaConexion" height="100px" width="100px" /></th>*@
        <th>Puntuacion</th>
    <tr>
        <td colspan="2">
            @Model.Puntiacion
        </td>
    </tr>
    </tr>
    <tr>
        <th colspan="2">Gemas</th>
    </tr>
    <tr>
        <th colspan="2">@Model.Gemas</th>
    </tr>
    <tr>
        <td>
            @Html.ActionLink("Volver", "Index", "Peliculas")
        </td>
        
    </tr>



</table>
